* {
  padding: 0;
  margin: 0;
}
div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(80, 148, 148, 0.543);
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 15px 20px;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgba(236, 112, 59, 0.846);
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-transform: uppercase;
}
.Time-Heading{
  font-size: 50px;
  color: red;
  background-color: rgba(0, 128, 0, 0.487);
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px 15px;
}
.Time-Heading:active{
  border: 2px solid white ;
  color: green;
  background-color: red;
}